@import 'variables';
@import 'mixins';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav{
    height: 2em;
    background-color: $navigacija; 
    
}
.grid-wrapper-one{
    width: 100%;
    margin-bottom: .5em;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 40vh 40vh;
    grid-template-areas:
    "one two three"
    "one four four";
    grid-gap: 10px;
    @include tablet(){
        grid-template-columns: 70% 30%;
        grid-template-rows: 25vh 25vh 30vh;
        grid-template-areas: 
        "one two"
        "one three"
        "four four" ;
    }
    
    @include mediumDev(){
        grid-template-columns: 50% 50%;
        grid-template-rows: 50vh 25vh 25vh ;
        grid-template-areas: 
        "one one"
        "two two"
        "three four";
    }
    
    
    @include mobile(){
        grid-template-columns: 100%;
        grid-template-rows: 25vh 25vh 25vh 25vh;
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four";
    }
    

    .grid-item-one{
        background-color: $plava;
        grid-area: one;
    }
    .grid-item-two{
        background-color: $zelena;
        grid-area: two;
    }
    .grid-item-three{
        background-color: $zelena;
        grid-area: three;
    }
    .grid-item-four{
        background-color: $svetlo_zelena;
        grid-area: four;
    }
    
}
.grid-wrapper-two{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 30vh 3em;
    grid-gap: 5px;
    grid-template-areas: 
    "one two three"
    "four four four";

    
    @include tablet(){
        grid-template-columns: 50% 50%;
        grid-template-rows: 25vh 25vh 10vh;
        grid-template-areas: 
        "one two"
        "three three"
        "four four";
    }
    @include mediumDev(){
        grid-template-columns: 50% 50%;
        grid-template-rows: 30vh 30vh 10vh;
        grid-template-areas: 
        "one one"
        "two three"
        "four four" ;
        
    }
    @include mobile(){
        grid-template-columns: 100%;
        grid-template-rows: 25vh 25vh 25vh 5vh;
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four";
    }


    .grid-item-one{
        background-color: $nebo_plava;
        grid-area: one;
    }
    .grid-item-two{
        background-color: $nebo_plava;
        grid-area: two;
    }
    .grid-item-three{
        background-color: $nebo_plava;
        grid-area: three;
    }
    .grid-item-four{
        background-color: $footer;
        grid-area: four;
    }
}