@mixin mobile {
    @media only screen and (max-width: 576px) {
        @content;
    }
}
@mixin bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}