body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  height: 6rem;
}

.nav h1 {
  font-weight: lighter;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav ul li {
  list-style-type: none;
}

.nav ul li a {
  text-decoration: none;
  margin-right: 20px;
  font-size: xx-large;
  font-weight: bold;
  float: right;
  color: #00b1ff;
}

.nav ul li a:hover {
  text-decoration: underline;
}

.wraper {
  width: 100%;
  height: 50vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  overflow: hidden;
}

.wraper-item-one {
  background-image: url("/HERO/assets/NoPath - Copy.png");
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

.wraper-item-one .overlay {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #3679c683;
  cursor: pointer;
}

.wraper-item-one p {
  font-size: xx-large;
}

.wraper-item-two {
  background-image: url("/HERO/assets/ipad-820272_1920.jpg");
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
}

.wraper-item-three {
  background-image: url("/HERO/assets/office-620822_1920.jpg");
}

.wraper-item-four {
  background-image: url("/HERO/assets/entrepreneur-593358_1920.jpg");
}

.services {
  margin-top: 10px;
  padding-top: 30px;
  margin-bottom: 30px;
  height: 500px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.281);
}

.services h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: xx-large;
  font-weight: 300;
}

.services .solutions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .solutions .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .solutions .first:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.services .solutions .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .solutions .second:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.services .solutions .third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .solutions .third:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.services .solutions .fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .solutions .fourth:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.services .solutions img {
  margin-right: 30px;
  border: 10px solid #a8cdee;
  border-radius: 20px;
  padding: 10px 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #484848;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */