

.cards{
    display: flex;
    
    
    .card{
        box-shadow: 0px 0px 20px 0px #a7a5a5;
        border-radius: 8px;
        width: 250px;
        padding: 10px;
        margin-right: 1em;
        &:hover{
            transform: scale(1.1);
            margin-right: 2em;
        }
       

        .title{
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
        }
        .name{
            font-weight: bold;
        }
        .description{
            margin-top: 1rem;
        }
    }
}